 {
     "plugins": [
         ["babel-plugin-styled-components", {
      		"pure": true
    	}],
         "@babel/plugin-syntax-dynamic-import",
         "@babel/plugin-transform-runtime"   
     ]
 } 